<div class="col-sm-6 mb-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-title">by {{user.username}}</h6>
    </div>
    <div class="card-body">
      <h5 class="card-title ">{{format_date date}}<span class="left-span">{{location}}</span></h5>
      <p class="card-text ">{{description}}</p>
      <div class="d-flex justify-content-end align-items-center">
        <!-- Add event.userEvent here -->
        <span class="card-text">{{rsvp_count}} Attending</span>
        <button class="btn btn-primary left-span rsvp-btn" type="button">RSVP</button>
        <!-- IF user.id = req.session.id, THEN add a button to update/edit event -->
      </div>
    </div>
  </div>
</div>
