<div class="events">
 <section class="event">
    
  <div class="meta">
    <td style="border: 1px solid black;">{{title}}</td>
    <td style="border: 1px solid black;">{{format_date date}}</td>
    <td style="border: 1px solid black;">{{location}}</td>
    <td style="border: 1px solid black;">{{user.username}}</td>
    <td style="border: 1px solid black;">{{description}}</td>
    <td style="border: 1px solid black;">
      <button type="button" class="rsvp-btn">RSVP</button>
    </td>
  </div>


<script src="/javascript/rsvp.js"></script>
